<div class="header">
    <h1 align="center"> Debating Society </h1>
    <h2 align="center"> IIT Kanpur </h2>
</div>


<div>
    <nav class="lego">
    <md-toolbar>
    <button md-button *ngFor="let tab of tabLabels" (click)="switchTab(tab)">  {{tab}}  </button>
    </md-toolbar>
</nav> 
</div>
<div class="body">    
    <div *ngIf="tabs['Our Blogs!!'].state"><blog></blog></div>
    <div *ngIf="tabs['Training'].state"><contact></contact></div>
    <div *ngIf="tabs['Events'].state"><event></event></div>
    <div *ngIf="tabs['Contact Us'].state"><training></training></div>
</div>
       